.bg-jumbotron{
	background-image: url('../img/home.png') !important ;
	background-size: cover;
	background-position: center;
	height: 450px;
}
.jumbo-text{
	margin-top: 50px;
}
.component{
	padding-bottom: 20px !important;
}

body{
	background-color: #f2f2f2;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='71' height='71' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='27' height='27' fill-opacity='0.57' fill='%23ede6e6'/%3E%3C/svg%3E");
}
.logo-desa{
		width: 200px;
		height: 200px;
}
.circle {
  padding: 13px 20px;
  border-radius: 50%;
  background-color: #091a3d;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row .col-2 {
  align-self: stretch;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #091a3d;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}


.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #091a3d;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #091a3d;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

#map { 

	height: 500px; 
	width: 100%;

}

.kades{

	height: 150px;
	width: 150px;
	margin-left: 150px;

	
}

.kades-text{
	text-align: center !important
}
/*desktop*/
@media (min-width: 992px) { 

	.logo-desa{
		width: 250px;
		height: 250px;
		
	}

	.kades{
		width: 200px;
		height: 200px;
		margin-left: 0px;

		
	}
	.kades-text{
		text-align: left !important;
	}

}